openapi: 3.0.1
info:
  title: YMS APIs
  version: 1.0.0
servers:
  - url: https://apigatewaydev.adient.com/yms/v2
    description: Dev
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: https://apigatewayqa.adient.com/yms/v2
    description: Quality
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: https://apigateway.adient.com/yms/v2
    description: Production
    variables:
      scheme:
        enum:
          - https
        default: https
paths:
  /appointments:
    post:
      summary: Appointments
      tags: 
      - Appointments
      requestBody:
        description: appointments Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/appointmentsRequest'
        required: true
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/appointmentsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInvalidAuthorizationKey'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInvalidResource'
  /load_info:
    post:
      summary: Load info
      description: Post Load information to YMS
      tags: 
      - Load info
      requestBody:
        description: Post Load info
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/load_infoRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/load_infoResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInvalidAuthorizationKey'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInvalidResource'
  /load_info/{ref_number}:
    put:
      summary: Load info
      description: Modify Load information to YMS
      tags: 
      - Load info
      parameters:
        - in: path
          name: ref_number
          required: true
          content:
            text/plain:
              schema:
                type: string
                example: a200
      requestBody:
        description: Update Load info
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/load_infoRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/appointmentsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInvalidAuthorizationKey'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInvalidResource'
security:
  - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header
  schemas:
    ref_typesarray:
      type: object
      properties: 
        type: 
          type: string
          example: Route ID
        number: 
          type: string
          example: 2340
    appointmentsRequest:
      type: object
      properties:
        facility_code: 
          type: string
          example: 0787
        SCAC: 
          type: string
          example: TEST
        trailer_number: 
          type: string
          example: 1001
        supplier_name: 
          type: string
          example: North America
        supplier_code: 
          type: string
          example: 001
        ref_types:
          type: array
          items:
            $ref: '#/components/schemas/ref_typesarray'
        appt_number: 
          type: string
          example: Testme340
        appt_time: 
          type: string
          example: 2021-07-12 13:30:00
        load_status: 
          type: string
          example: Empty
        move_type: 
          type: string
          example: Inbound
        carrier_company: 
          type: string
          example: Holland
    load_infoRequest:
      type: object
      description: load_info Request object
      properties:
        facility_code: 
          type: string
          example: 07867
      create_date: 
        type: string
        example: 2021-11-12 09:00:09
      ref_number: 
        type: string
        example: a200
      group_id: 
        type: string
        example: 
      trailer_number: 
        type: string
        example: 32034
      status: 
        type: string
        example: LOADED
      action: 
        type: string
        example: TBD
      parts: 
        type: string
        example: [part_id:a100-101qty:100part_id:a100-102qty:150part_id:a100-103qty:10part_id:a100-104qty:50]
    appointmentsResponse:
      type: object
      description: appointment response object
      properties:
        success: 
          type: string
          example: true
      message: 
        type: string
        example: created
      data: 
        type: string
        example: 
    ErrorInvalidAuthorizationKey:
      type: object
      description: Error Message for Invalid Authorization Key
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: "401"
            message:
              type: string
              example: "Invalid Authorization key for resource"
    ErrorInvalidResource:
      type: object
      description: Error Message for Invalid Authorization Key
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: "404"
            message:
              type: string
              example: "Resource Not Found or logicalId is either missing or Invalid"